extends layout

block content
  .header
    .headline
      |screenwritr
  .hero
    .banner-text
      |Write Your Heart Out
      .banner-subtitle
        |Sign up and start writing your next great screenplay
  .content
    .container
      .row
        .col-xs-12.col-md-4
          .list-title
            |Write Scripts in your Browser
        .col-xs-12.col-md-4
          .list-title
            |Share Documents in a Flash
        .col-xs-12.col-md-4
          .list-title
            |Collaborate with Friends in Real-Time
