extends layout

block content
  .header
    .headline
      |screenwritr
  .hero
    .banner-text
      |Write Your Heart Out
      .banner-subtitle
        |Sign up and start writing your next great screenplay
  .content
