@font-face {
  font-family: 'Poiret One';
  src: url('/fonts/PoiretOne-Regular.ttf');
}

@font-face {
  font-family: 'Droid Sans';
  src: url('/fonts/DroidSans.ttf');
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Regular.ttf');
}

html,body {
  font-size: 100%;
}

body {
  margin: 0;
  background-color: #FFF5F5;
  color: #606060;
  font-family: 'Raleway', sans-serif;
}

.header {
  padding: 1em 1em;
  border-bottom: 1px solid #FFDDDD;

 .headline {
   font-family: 'Poiret One', sans-serif;
   font-size: 4em;
 }
}

.hero {
  height: 400px;
  border-bottom: 1px solid #FFDDDD;
  background-color: #FFF0F0;
  background: url('/img/hero00.png');
  background-position: center 0px;
  background-size: cover;

  .banner-text {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 225px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 5em;
    color: #FFF;
    text-align: center;
    width: 100%;
    /*text-shadow: 2px 2px 5px #999;*/
    padding-bottom: 0.2em;
  }

  .banner-subtitle {
    font-size: .5em;
    /*text-shadow: 1px 1px 2px #888;*/
  }
}

.content {
  margin-top: 3em;

  .list {
    margin-top: 1em;
    font-size: 1em;
  }

  .list-title {
    font-family: 'Poiret One', sans-serif;
    font-size: 2em;
  }
}

.app-preview {
  height: 600px;
}
